* {
   margin:0;
   padding:0;
   text-align:center;
   background-color:black;
}

.game-div {
   height:200px;
   background-color:black;
   display:flex;
   justify-content:center;
   align-items:center;
   gap:4rem;
   margin-bottom:80px;
}

.game-title {
    background-color:red;
    color:white;
    font-size:8vmin;
    /* trick jitni height ha unti line height de do text ko to vertically center heading  */
    line-height:5rem;
}

.game-btn {
   height:200px;
   width:200px;
   border-radius:50%;
   border:none;
   display:flex;
   justify-content:center;
   align-items:center;
}

.game-btn:hover {
   cursor:pointer;
   background-color:red;
}

img {
   height:150px;
   object-fit:cover;
   border-radius:5rem;
}

.score-board {
   display:flex;
   justify-content:center;
   align-items:center;
   margin-bottom:50px;
   gap:4rem;
   font-size:3rem;
}

.message-container {
   display:flex;
   justify-content:center;
   align-items:center;
}

#msg {
   font-size:3rem;
   background-color:red;
   color:white;
   padding:15px;
   border-radius:4rem;
}


