* {
   margin:0;
   padding:0;
}

.game-div {
   height:200px;
   background-color:black;
   display:flex;
   justify-content:center;
   align-items:center;
   gap:2rem;
}

.game-title {
    background-color:black;
    color:red;
    font-size:8vmin;
    text-align:center;
}

.game-btn {
   padding:20px;
   border-radius:100px;
   border:none;
}

img {
   height:80px;
}
